body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    height: 4000px;
    /* background-color: turquoise; */
}


/**
    Logo 
*/
div.logo {
    position: absolute;
    top: -60px;
    left: 20px;

    width: 220px;
    height: 220px;

    z-index: 0;
}

div.logo img {
    max-width: 100%;
}

/**
    Navigation 
*/
header nav {
    z-index: 10;
    position: relative;
    width: 50%;
    margin: 30px auto 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/**
    Section 
*/
section .image-container {
    /* 
    top: 0;
    right: 0; */

    background-color: white;
}

section .image-container {
    max-width: 760px;
}

section .image-container img {
    width: 100%;
}


/**
    Standard Navigation 
*/
.std-nav ul li {
    text-transform: uppercase;
    list-style: none;
}

.std-nav ul li a {
    color: black;
    text-decoration: none;
}

/**
    Vertical Nav 
*/
aside.vertical-nav {
    position: fixed;
    z-index: 10;
    display: none;
}

aside.vertical-nav li {
    padding: 16px;
}

aside.vertical-nav li.selected {
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .6);
}


/** 
    Section Detials
    */

section.standard-section .section-details {
    width: 50%;
    z-index: 10;
    position: relative;
    margin: 0 auto;
}

/**
    Product Section 
    */
section.product-section {
    overflow-y: auto;
}

section.product-section .products {
    display: flex;
    flex-direction: row;

}
section.product-section .product {
    position: relative;
    min-width: 400px;
    z-index: 0;
}

section.product-section .product .product-details {
    display: none;
}

section.product-section .product:hover .product-details {
    display: block;
    position: absolute;
    border: 2px solid black;
    padding: 24px;
    padding-right: 25%;
    left: -25%;
    z-index: 10;
}

section.product-section .product:hover .product-details .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    letter-spacing: 10px;
}

section.product-section .product:hover .product-details .buy-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #878787;
    text-decoration: none;
    text-transform: uppercase;
}

section.product-section .product .product-image {
    text-align: center;
    z-index: 20;
    position: relative;
}

section.standard-section.boxed-description {
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

section.standard-section.boxed-description.pic-left {
    display: flex;
    flex-direction: row-reverse;
}

section.standard-section.boxed-description .section-details-inner::before {
    content: ' ';
    display: block;
    width: 150%;
    height: 75%;
    border: 3px solid #B7A37E;
    position: absolute;
    transform: translateX(-54%);
}

section.standard-section.boxed-description .section-details-inner {
    display: flex;

    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    max-width: 50%;

    line-height: 36px;
    font-size: 10pt;
    word-spacing: 6px;

    color: #A7A7A7;
}

section.boxed-description .image-container  {
    position: relative;
}

section.boxed-description .image-container .section-titles {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    
    font-family: 'Montserrat', sans-serif;
    text-align: right;
}

section.boxed-description .image-container .section-titles h2,
section.boxed-description .image-container .section-titles h3 {
    margin: 0;
}

section.boxed-description .image-container .section-titles h2 {
    font-size: 24pt;
    letter-spacing: 4px;
}

section.boxed-description .image-container .section-titles h3 {
    font-size: 11pt;
    font-weight: normal;
}

section.boxed-description.pic-right .image-container .section-titles {
    right: auto;
    left: 8px;

    text-align: left;
}

section.standard-section.boxed-description.pic-right .section-details-inner {
    float: right;
}

section.standard-section.boxed-description.pic-right .section-details-inner::before {
    transform: translateX(-10%);
}


/* Product Collection Showcase */
.product-showcase .product-showcase-container {
    display: flex;
    flex-direction: row;
    border: 2px solid purple;
}

.product-image-container {
    display: flex;
}

.product-image-container .img-wrapper {
    width: 400px;
    height: 568px;
    background-color: gray;
}

.product-image-container .img-wrapper img {
    max-width: 100%;
}