body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: #333333;
}

header.main-header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
}

header.main-header .logo {
  flex-basis: 320px;
}

header.main-header .logo img {
  max-width: 100px;
  transform: translate(50%, 50%);
}

header.main-header nav {
  text-transform: uppercase;
  flex: 2;
}

header.main-header .buttons {
  flex: 1;
  border: 1px solid green;
}

nav.standard-nav ul li {
  display: inline-block;
  padding: 0 8px;
}

nav.standard-nav ul li a {
  color: #333333;
  text-decoration: none;
}

nav.standard-nav ul li.active,
nav.standard-nav ul li:hover {
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}

ul li {
  list-style: none;
}

.logo {
  width: 320px;
  height: 80px;
}

.main-container {
  width: 1160px;
  margin: 0 auto;
  height: 100vh;
}



/** hero continaer styles */
.hero-container {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero-container {
  position: relative;
}

.hero-container .hero-overlay {
  background: rgba(255, 255, 255, .75);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 60%, rgba(255,255,255,0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-container .hero-text {
  position: absolute;
  width: 420px;
  height: auto;
  min-height: 50%;
  top: 0;
  transform: translate(50%, 50%);
}

.hero-container .hero-text .category {
  color: #CD9C6C;
  font-size: 12px;
  text-transform: uppercase;
}

.hero-container .hero-text .title {
  font-size: 60px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  line-height: 72px;
}

.hero-container .hero-image img {
  max-width: 100%;
  transform: translateY(-25%);
}

/** featured product styles */
.featured-products header {
  display: flex;
  justify-content: space-between;
}

/** product nav styles */
nav.standard-nav.product-nav ul li a {
  color: #999999;
}

nav.standard-nav.product-nav ul li.active,
nav.standard-nav.product-nav ul li:hover {
  color: #CD9C6C;
  border-bottom-color: #CD9C6C;
}

nav.standard-nav.product-nav ul li.active a,
nav.standard-nav.product-nav ul li:hover a {
  color: #CD9C6C;
} 

/** Product Grid Styles */
.featured-products {
  padding: 0 36px;
}

.featured-products .product-grid {
  margin: 0;
  padding: 0;
}

.product {
  width: 240px; 
  height: 240px;
  display: inline-block;
  margin: 36px 28px auto auto;
}

/**
  Default Product Styles
*/
.product .product-badge{
  display: none;
}

.product .product-price .sale-price{
  display: none;
}

.product .product-price .original-price{
  text-decoration: none;
  color: #EF827B;
}
/**
  END: Default Product Styles
*/

/**
  On-Sale Product Styles
*/
.product.product-on-sale {
  color: inherit;
}

.product.product-on-sale .product-badge {
  display: block;
}

.product.product-on-sale .product-price .sale-price {
  display: inline-block;
  color: #333333;
  text-decoration: none;
}

.product.product-on-sale .product-price .original-price {
  text-decoration: line-through;
  color: #aaaaaa;
}

/**
  END: On-Sale Product Styles
*/

.product a {
  text-decoration: none;
  color: #333333;
}

.product .product-image-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 16px;
}

.product .product-image-container .product-badge {
  position: absolute;
  background-color: #EF827B;
  color: #ffffff;
  top: 16px;
  left: 16px;
  padding: 4px 8px;
  text-transform: capitalize;
}

.product .product-image-container img.product-image {
  max-width: 100%;
}

.product .product-title {
  color: #333333;
  margin: 4px 0;
  font-size: 16px;
  font-weight: normal;
}

.product .product-price {
  margin: 0;
  font-weight: 400; /* This is the same as font-weight: normal */;
  font-size: 14px;
  margin: 4px 0;
}

.product .product-variations {
  visibility: hidden;
}

.product.has-variants .product-variations {
  visibility: visible;
  margin: 12px 0;
  padding: 0;
}


.product-variations .variant {
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 8px;
}

.product-variations .variant.active::before {
  content: "";
  display: block;
  border: 1px solid #aaaaaa;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  transform: translate(-4px, -4px);
}

.product-variations .variant.variant-beige {
  background-color: #867666;
}

.product-variations .variant.variant-charcoal {
  background-color: #333333;
}

.product-variations .variant.variant-gray {
  background-color: #808080;
}

.product-variations .variant.variant-brown {
  background-color: #795447;
}


/** Footer Styles */
footer.site-footer {
  color: #aaaaaa;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #aaaaaa;
  margin-top: 36px;
  padding-top: 24px;
  padding-right: 36px;
  margin: 36px 0 0 36px;
  min-height: 160px;
}

footer.site-footer h4 {
  color: #aaaaaa;
  font-weight: normal;
}

footer.site-footer .legal-material {
  flex-grow: 1;
}

footer.site-footer .social-media-icons {
  flex-basis: 30%;
  
  display: flex;
  flex-direction: row;
}

footer.site-footer .social-media-icons h4 {
  margin-top: 4px;
}

footer.site-footer .social-media-icons .icons-list {
  margin: 0;
  padding: 0;
}

footer.site-footer .social-media-icons .icons-list .icon {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

footer.site-footer .social-media-icons .icons-list .icon-facebook {
  background-image: url('../img/icon-facebook.jpg');
}
footer.site-footer .social-media-icons .icons-list .icon-twitter {
  background-image: url('../img/icon-twitter.jpg');
}
footer.site-footer .social-media-icons .icons-list .icon-gplus {
  background-image: url('../img/icon-gplus.jpg');
}
footer.site-footer .social-media-icons .icons-list .icon-instagram {
  background-image: url('../img/icon-instagram.jpg');
}
footer.site-footer .social-media-icons .icons-list .icon-youtube {
  background-image: url('../img/icon-youtube.jpg');
}

/** END: Footer Styles */

